body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: Bai Jamjuree;
}

header {
  background-image: url(img\b g-header-mobile.png);
  width: 100%;
  height: 650px;
}
header .titre1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .titre1 h1 {
  color: #26baa6;
  font-size: 15vh;
}
header .titre1 h2 {
  color: #50575d;
  font-size: 6vh;
  margin-bottom: 1%;
}
header .titre1 p {
  color: #bac0c4;
  margin-top: 2px;
}
header .btn button:nth-child(1) {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #5cccba;
}
header .btn button:nth-child(2) {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #8996fe;
}

section1 .titre2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section1 .titre2 h1 {
  color: #26baa6;
  font-size: 15vh;
}
section1 .titre2 h2 {
  color: #50575d;
  font-size: 5vh;
  margin-bottom: 1%;
}
section1 .titre2 p {
  color: #bac0c4;
  margin-top: 2px;
}

section2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  position: relative;
  right: 100px;
}
section2 .sec2txt {
  margin-right: 10%;
}
section2 .sec2txt h3 {
  color: #484a50;
}
section2 .sec2txt span {
  color: #d6d6d9;
}

section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}
section3 .sec3txt {
  margin-bottom: 6%;
}
section3 .sec3txt span {
  color: #bac0c4;
}
section3 .sec3texte span {
  color: #bac0c4;
}

section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 5%;
}