body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: Bai Jamjuree;
}

header {
  background-image: url(../img/bg-header-mobile.png);
  width: 100%;
  height: 650px;
}
header .titre1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .titre1 h1 {
  color: #26baa6;
  font-size: 15vh;
}
header .titre1 h2 {
  color: #50575d;
  font-size: 6vh;
  margin-bottom: 1%;
}
header .titre1 p {
  color: #bac0c4;
  margin-top: 2px;
}
header .btn button:nth-child(1) {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #5cccba;
}
header .btn button:nth-child(2) {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #8996fe;
}

section1 .titre2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section1 .titre2 h1 {
  color: #26baa6;
  font-size: 15vh;
}
section1 .titre2 h2 {
  color: #50575d;
  font-size: 5vh;
  margin-bottom: 1%;
}
section1 .titre2 p {
  color: #bac0c4;
  margin-top: 2px;
}

section2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
section2 .sec2txt {
  margin-right: 10%;
}
section2 .sec2txt h3 {
  color: #484a50;
}
section2 .sec2txt span {
  color: #d6d6d9;
}
section2 .sec2img img {
  position: relative;
  right: 100px;
}

section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}
section3 .sec3txt {
  margin-bottom: 6%;
}
section3 .sec3txt span {
  color: #bac0c4;
}
section3 .sec3texte span {
  color: #bac0c4;
}

section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 5%;
  margin: 8%;
}
section4 .disign span {
  color: #bac0c4;
  line-height: 30px;
}

section5 .logo {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

section6 .titre1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section6 .titre1 h1 {
  color: #26baa6;
  font-size: 15vh;
}
section6 .titre1 h2 {
  color: #50575d;
  font-size: 6vh;
  margin-bottom: 1%;
}
section6 .titre1 p {
  color: #bac0c4;
  margin-top: 2px;
}
section6 .btn button:nth-child(1) {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #5cccba;
}
section6 .btn button:nth-child(2) {
  border-radius: 30px;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  background-color: #8996fe;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f6f9;
  margin-top: 10%;
}
footer .txtfoot h1 {
  color: #26baa6;
  font-size: 10vh;
}
footer .icon {
  letter-spacing: 1vh;
}

@media screen and (max-width: 376px) {
  header .titre1 {
    display: flex;
    flex-direction: column;
  }
  header .titre1 h1 {
    font-size: 20vh;
    margin: 0;
    padding: 0;
  }
  header .titre1 h2 {
    font-size: 28px;
  }
  header .titre1 p {
    font-size: 18px;
    margin: 2%;
  }
  header .btn {
    display: flex;
    flex-direction: column;
  }
  header .btn button {
    margin-top: 10%;
  }
  header .btn button:nth-child(1) {
    width: 300px;
  }
  header .btn button:nth-child(2) {
    width: 300px;
  }
  section1 .titre2 {
    display: flex;
    flex-direction: column;
  }
  section1 .titre2 h2 {
    font-size: 28px;
  }
  section1 .titre2 p {
    font-size: 18px;
    margin: 5%;
  }
  section2 {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
  }
  section2 .sec2img img {
    position: relative;
    left: 50px;
    bottom: 20px;
    width: 270px;
    height: 200px;
  }
  section2 .sec2txt {
    align-items: center;
    text-align: center;
  }
  section3 {
    display: block;
  }
  section3 .sec3img img {
    width: 300px;
    height: 200px;
  }
  section4 {
    display: flex;
    flex-direction: column;
  }
  section4 .disign {
    margin-top: 30%;
  }
  section5 .logo {
    display: flex;
    flex-direction: column;
  }
  section5 .logo img {
    margin-top: 30%;
  }
  section6 .titre1 {
    display: flex;
    flex-direction: column;
    margin: 10%;
  }
  section6 .titre1 h1 {
    font-size: 20vh;
    margin: 30px;
    padding: 0;
  }
  section6 .titre1 h2 {
    font-size: 28px;
  }
  section6 .titre1 p {
    font-size: 18px;
    margin: 2%;
  }
  section6 .btn {
    display: flex;
    flex-direction: column;
  }
  section6 .btn button {
    margin-top: 10%;
  }
  section6 .btn button:nth-child(1) {
    width: 300px;
  }
  section6 .btn button:nth-child(2) {
    width: 300px;
  }
}