body {
  font-size: 18px;
}

header {
  background-image: url(img\b g-header-mobile.png);
  width: 100%;
  height: 40px;
}
header .titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}